[Unit]
Description=Shutdown VM after power loss
After=network.target

[Service]
Type=simple
ExecStart=/root/pynutshutdown/venv/bin/python3 /root/pynutshutdown/main.py # Full path to python interpreter and script
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
